<div class="form-group row">
    <label class="control-label col-lg-2 required">__name__label__</label>
    <div class="col-lg-10">
        <div id="account_contactEmail___name__">
            <div class="form-group row">
                <div class="col-lg-10">
                    <input type="email" id="account_contactEmail___name___emailAddress" name="account[contactEmail][__name__][emailAddress]" required="required" class="form-control" >
                </div>
            </div>
        </div>
    </div>
</div>