{% extends '::base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}

    {{ form_start(form, { 'style': 'horizontal' }) }}
        <div class="row error-log" style="margin: 20px auto;">
            <div class="col-lg-offset-2">
                {{ form_errors(form) }}
            </div>
        </div>

    {{ form_end(form) }}

 
{% endblock %}

