{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">You are assigned to review this project.</div>
    </div>

    {% include 'CBProjectBundle:Template:ProjectInfo.html.twig' with {'project':project} %}

{% endblock %}