{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{ path('cb_create_grant_instance', {'id':grantCycle.grantCycleId}) }}" class="btn btn-default" style="float: right;">Create Instance</a>
    <h1>Instances of {{ grantCycle.grant.grantName }} : {{ grantCycle.grantCycleTitle }}</h1><hr>

    {% if cycleInstance %}

        {% for cycle in cycleInstance %}

            {% include 'CBGrantBundle:Template:GrantInstanceList.html.twig' with {'instance':cycle} %}


            {% endfor %}

        {% else %}
        No instances made for this grant cycle. <a href="{{ path('cb_create_grant_instance', {'id':grantCycle.grantCycleId}) }}">Make one.</a>
        {% endif %}

{% endblock %}