{% extends '::base.html.twig' %}

{% block body %}

    {% if grants %}
        <div class="row">
            <div style="margin:30px auto; text-align: center;"><h1>All Grants</h1></div>
        </div>
        {% for grant in grants %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{{  path('cb_grant_permalink', {'id':grant.grantId, 'user':'proponent'}) }}">{{ grant.grantName }}</a><br>
                        <small>Type: {{ grant.grantType }}</small><br>
                    </div>

                </div>
        {% endfor %}
    {% else %}
        <div class="row" style="margin: 0px auto;">No grants are available as of today.</div>
    {% endif %}

{% endblock %}