{% extends '::base.html.twig' %}

{% block body %}

    <div class="row" style="padding-top: 20px;">

        <!-- Tab panes -->
        <div class="tab-content col-xs-9">
            <div class="tab-pane fade in active" id="phases">
                {% for phase in instance.phaseInstance %}

                    {% include 'CBGrantBundle:Template:PhaseInstanceList.html.twig' with {'instance':phase} %}

                {% endfor %}
            </div>
            <div class="tab-pane fade" id="projects">
                {% for project in instance.project %}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="{{ path('cb_project_permalink', {'user':'funder','id':project.projectId}) }}">
                            {{ project.projectTitle }}
                            </a>
                            <span style="display: block; float:right;">
                                <a href="{{ path('cb_add_reviewer', {'instance':instance.grantCycleInstanceId,'project':project.projectId}) }}">
                                    Add reviewers
                                </a>
                            </span>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="tab-pane fade" id="info">
                {% include 'CBGrantBundle:Template:GrantInstanceInfo.html.twig' with {'instance':instance} %}
            </div>
        </div>


        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-stacked col-xs-3">
            <li class="active"><a href="#phases" data-toggle="tab">Phases</a></li>
            <li><a href="#projects" data-toggle="tab">Projects / Proposals Under This Grant Cycle</a></li>
            <li><a href="#info" data-toggle="tab">Grant Info</a></li>

        </ul>

    </div>

{% endblock %}