{% extends '::base.html.twig' %}

{% block body %}

    <div class="row" style="padding-top: 20px;">

        <!-- Tab panes -->
        <div class="tab-content col-xs-9">
            <div class="tab-pane fade in active" id="reviews">
                {% if reviews is empty %}
                    You haven't made any reviews for this project in this phase yet.
                    {% else %}
                    {% for review in reviews %}
                        {% include 'CBReviewerBundle:Template:ReviewInfo.html.twig' with {'review':review} %}
                    {% endfor %}
                {% endif %}

            </div>
            <div class="tab-pane fade" id="phase">
                {% include 'CBGrantBundle:Template:PhaseInstanceInfo.html.twig' with {'instance':instance} %}
            </div>
            <div class="tab-pane fade" id="grant">
                {% include 'CBGrantBundle:Template:GrantInstanceInfo.html.twig' with {'instance':instance.grantCycleInstance} %}
            </div>
            <div class="tab-pane fade" id="project">
                {% include 'CBProjectBundle:Template:ProjectInfo.html.twig' with {'project':project} %}
            </div>
        </div>


        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-stacked col-xs-3">
            <li class="active"><a href="#reviews" data-toggle="tab">Reviews Submitted</a></li>
            <li><a href="{{ path('cb_add_review', {'reviewer':app.request.attributes.get('review'), 'instance':instance.phaseInstanceId}) }}">Add Review</a></li>
            <hr>
            <li><a href="#phase" data-toggle="tab">Phase Info</a></li>
            <li><a href="#grant" data-toggle="tab">Grant Info</a></li>
            <li><a href="#project" data-toggle="tab">Project Info</a></li>

        </ul>

    </div>

{% endblock %}